
   
body {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.box {
  border: 1px solid black;
  mix-blend-mode: multiply !important;
  overflow: hidden !important;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
  background-color: #273be2 !important;
}

.custom-submit {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 1rem !important;
  background-color: #273be2 !important;
  color: whitesmoke !important;
  padding: 0px !important;
  text-align: center !important;
}

.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important; 
  background-color: #273be2 !important;
}

.header-image {
  max-width:100%;
  max-height:100%;
  margin-bottom: 2em;
  mix-blend-mode: multiply !important;
}

.image-container {
  max-width:100%;
  max-height:auto;
  mix-blend-mode: multiply !important;
  overflow: hidden;
}

.mb-3 {
  border: 1px solid black !important;
}

.button-color {
  background-color: #273be2;
}

@media (min-width: 768px) {

}

@media (max-width: 768px) {

}
